.round {
    height: 5em;
    box-sizing: content-box;
    font-size:1.2em;
}
.myIcon {
    width: 3em;
    height: 3em;
  }
  .myImg {
   width:"400";
     height:"180";

  }
  .imgPrincipal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31%;
   }

